@import '../../node_modules/@carbon/elements/scss/type/font-family';

html, body, #root {
  height: 100%;
  width: 100%;
}

.main {
  position: relative;
  top: 47px;
  left: 256px;
  height: calc(100% - 47px);
  width: calc(100% - 256px);
}

.colSpace{
  padding: 10px 20px;
}
.grid {
}

.title {
  @include carbon--font-family('sans');
  font-size: 36px;
  font-weight: 400;
  color: #171717;
  padding: 2rem;
}

.sideNavtitle {
  @include carbon--font-family('sans');
  margin-top: 5rem;
  font-size: 22px;
  font-weight: 400;
  color: #171717;
  padding: 1rem 3rem; 
}
.sideNavMtitle {
  @include carbon--font-family('sans');
  font-size: 22px;
  font-weight: 400;
  color: #171717;
  padding: 1rem 3rem; 
}
.tileTile{
  @include carbon--font-family('sans');
  font-size: 22px;
  font-weight: 400;
  color: #171717;
  padding: 1rem 0rem; 

}
.navSpace{
margin-left: 2rem;
}
.descTile{
padding: 2px;
}

.bx--tile {
  width: 100%;
}

.cell.cell {
  margin: 2em 0;
}